/* Estilo para o container do vídeo */
.video-bg-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa a altura da tela */
    overflow: hidden;
  }

  /* Estilo para o vídeo */
  .video-bg-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: 1; /* Define o vídeo no plano de fundo */
  }

  /* Estilo para a camada transparente */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 164, 164, 0.5); /* Transparência preta */
    z-index: 2; /* Fica acima do vídeo */
  }

  /* Estilo para o conteúdo */
  .content {
    position: relative;
    z-index: 3; /* Fica acima do overlay */
    color: white;
    text-align: center;
    padding: 20px;
  }
  